header(style="{vars}")
  .indent
  .content
    span Try to guess colors:
    nav
      ul
        +each('links as { text, to }')
          li(class:active="{$isActive(to)}")
            a(href="{$url(to)}")
              span { text }
  .indent
